APP_ENV=local
APP_KEY=base64:mxRIQnPy8Qy07UvyWIYqQ3l703y8pWn+GxjcTTHBBS0=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=https://local.jitesoft.com

MYSQL_RANDOM_ROOT_PASSWORD=1
MYSQL_DATABASE=jitesoft
MYSQL_USER=jitesoft
MYSQL_PASSWORD=secret
MYSQL_CONNECTION=mysql
MYSQL_HOST=mysql
MYSQL_PORT=3306

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
