$small: "(max-width: 767px)";
$medium: "(min-width: 768px) and (max-width: 960px)";
$large: "(min-width: 1200px)";

@mixin landscape($size) {
  $break-small: 767px;
  $break-large: 1200px;

  @if ($size == small) {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  }
  @else if ($size == medium) {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  }
  @else if ($size == large) {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

@mixin portrait($size) {
  $break-small: 480px;
  $break-large: 1280px;

  @if ($size == small) {
    @media only screen and (orientation: portrait) and (max-width: $break-small) {
      @content;
    }
  } @else if ($size == medium) {
    @media only screen and (orientation: portrait) and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if ($size == large) {
    @media only screen and (orientation: portrait) and (min-width: $break-large) {
      @content;
    }
  }
}
